@import './variable.scss';

.game {
  text-align: center;
  width: calc(100vw - 40px);
  height: 100vh;
  padding: 20px;
  &Name {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba($white, .1);
    padding: 20px;
  }
  &Content {
    margin-top: 20px;
    &Time {
      margin-bottom: 20px;
    }
    &Message {
      font-size: 1.5em;
      color: $app-color;
      background: rgba($orange, .7);
      border: 1px solid $orange;
      border-radius: $border-radius;
      min-height: 50px;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;
      font-weight: bold;
    }
  }
  &Description {
    p {
     line-height: 40px;
    }
    .shorten {
      margin-top: 20px;
      span {
        margin-left: 20px;
      }
    }
  }
}